*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*hs_err_pid9620.log
*hs_err_pid11588.log
*hs_err_pid12176.log
*hs_err_pid19248.log
*replay_pid11588.log
*replay_pid12176.log